{{ if or .Params.postMetaInFooter (and .Site.Params.postMetaInFooter (ne .Params.postMetaInFooter false)) -}}
<div class="post-copyright">
  <p class="copyright-item">
    <span class="item-title">{{ T "author" }}</span>
    <span class="item-content">{{ if .Params.author }}{{ .Params.author | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</span>
  </p>
  <p class="copyright-item">
    <span class="item-title">{{ T "lastMod" }}</span>
    <span class="item-content">
        {{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
        {{ with .GitInfo }}<a href="{{ $.Site.Params.gitRepo }}/commit/{{ .Hash }}" title="{{ .Subject }}">({{ .AbbreviatedHash }})</a>{{ end }}
    </span>
  </p>
</div>
{{- end }}
{{ if $.Site.Params.linkToMarkDown -}}
<div class="post-copyright">
    {{ with $.OutputFormats.Get "markdown" -}}
    <p class="copyright-item">
      <span class="item-title">{{ T "markdown" }}</span>
      <span class="item-content"><a class="link-to-markdown" href="{{ .Permalink }}" target="_blank">{{ T "seeMarkDown" }}</a></span>
    </p>
    {{- end }}
  {{- end }}
  {{ if or .Params.contentCopyright (and .Site.Params.contentCopyright (ne .Params.contentCopyright false)) -}}
  <p class="copyright-item">
    <span class="item-title">{{ T "license" }}</span>
    <span class="item-content">
    {{- if .Params.contentCopyright -}}
      {{ .Params.contentCopyright | safeHTML }}
    {{- else -}}
      {{ .Site.Params.contentCopyright | safeHTML }}
    {{- end -}}
    </span>
  </p>
</div>
{{- end }}
