<article class="archive-article archive-type-post">
    <div class="archive-article-inner">
        <div class="archive-article-thumbnail">
            {{ if isset .Params "banner" }}
            <a href="{{ .Permalink }}" class="thumbnail">
                <span style="background-image:url({{ .Params.banner | absURL }})" alt="{{ .Title }}" class="thumbnail-image"></span>
            </a>
            {{ else }}
	    <a href="{{ .Permalink }}">  <!-- class="thumbnail"> -->
                <span class="thumbnail-image thumbnail-none"></span>
            </a>
            {{ end }}
        </div>
        <header class="archive-article-header">
            <h1 itemprop="name">
            <a class="archive-article-title" href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <div class="archive-article-date">
                <i class="fa fa-calendar"></i>
                <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
            </div>
        </header>
    </div>
</article>
