{{ define "content" -}}
<article class="post bg-white">
  <!-- post-header -->
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    {{ partial "post/i18nlist.html" . }}
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-time">
        {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </time>
    </div>
  </header>

  <!-- TOC -->
  {{ partial "post/toc.html" . }}

  <!-- Content -->
  <div class="post-content">
      {{ .Content }}
  </div>

  <div style=" border-top: 2px LightGrey solid;
                  margin-top: 20px;
                  color: gray;
                  margin-bottom: 20px;">
    <sub>
      You can reach me on Twitter or LinkedIn to Hire me.
    </sub>
  </div>


  <!-- Copyright -->
  {{ partial "post/copyright.html" . }}

  <!-- Reward -->
  {{ partial "post/reward.html" . }}
</article>

<!-- Comments -->
{{ partial "comments.html" . }}

{{- end }}
