{{ $paginator := .Paginate (where .Data.Pages "Section" "in" .Site.Params.mainSections) }}
{{ range $paginator.Pages }}
<article class="article article-type-post" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
        <a href="{{ .Permalink }}" itemprop="url">
            <img src="{{ .Params.banner | absURL }}" class="article-banner">
        {{ end }}
        </a>

        {{ partial "article_header" . }}
        <div class="article-entry" itemprop="articleBody">
            {{ if ((eq .Type "note")) }}
            <p>
                {{ .Content }}
            </p>
           {{ else }}
            <p>
                {{ .Description | default .Summary }}
            </p>
            <p class="article-more-link">
                <a href="{{ .Permalink }}">
                    {{with .Site.Data.l10n.articles.read_more}}{{.}}{{end}}
                </a>
            </p>
           {{ end }}
        </div>
        {{ partial "article_footer" . }}
    </div>
</article>
{{ end }}

{{ partial "pagination" . }}
